HTML{
  font-size: 16px;
}
#site-container{
  width: auto;
  margin: 0 auto;
}
.section{
  width: 100%;
  margin: 0 auto;
}
/*---------DESKTOP HEAD----------*/
#mobile-nav{
  display: none;
}
#head{
  display: flex;
  align-items: center;
  font-family: Helvetica;
  width: 100%;
  height: 64px;
  background-color: white;
  top: 0;
  z-index: 10;
}
.desktop-nav{
  display: flex;
  align-items: center;
  margin-left: 24px;
  width: 100%;
}
.desktop-nav nav ul li{
  display: inline;
  padding: 0 16px 0 16px;
}
.desktop-nav, nav{
  justify-content: space-between;
  margin-right: 8px;
}
.colmar-logo{
  font-family: "Montserrat", Helvetica;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.logo{
  height: 3rem;
}
.colmar{
  font-weight: bold;
}
.academy{
  color: darkgray;
}
/*-----------HEADER SECTION mobile-----------------*/
@media only screen and (max-width:605px) {
  #site-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  #head #mobile-nav{
    display: flex;
    margin: 0 24px;
  }
  #mobile-nav{
    width: 100%;
    justify-content: space-between;
  }

  #head .desktop-nav{
    display: none;
  }
}
/*-------------------BANNER DESKTOP--------------------------------*/
.banner{
  display: flex;
  background-color: lightgray;
}
.banner-img{
  padding-right: 16px;
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
}
.banner-content{
  width: 25%;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}
.button{
  background-color: #3B3B3B;
  padding: 8px;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 2rem;
}
.learn{
  padding: 0;
  color: #3B3B3B;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.banner-content h3{
  font-size: 1.25rem;
  color: #3B3B3B;
}
/*--------BANNER MOBILE--------*/
@media only screen and (max-width:779px){
  .banner{
    flex-direction: column;
    width: 100%;
  }
  .banner .banner-img{
    width: 100%;
    height: auto;
    margin: 0 0 32px 0;
  }
  .banner .banner-content{
    width: auto;
    margin: 0 16px 32px 16px;
  }
}
/*--------------------INFO SECTION DESKTOP----------------------------*/
.info.section{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}
.left-side .ls-img{
  width: 100%;
  height: auto;
  padding-top: 32px;
}
.left-side{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right:24px;
  margin-left: 24px;
}
.ls-content h2{
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 24px;
  margin-top: 24px;
  font-family: sans-serif;
}
.ls-content p{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5rem;
}
.ls-content .base-text{
  font-size: .75rem;
  margin: 2rem 0 32px 0;
}
/*---rightside----*//*--------STILL DESKTOP------*/
.right-side .rs-mobile {
  display: none;
}
.right-side{
  font-family: sans-serif;
}
.rs-content{
  width: 65%;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.rs-content h3{
  font-size: 1.25rem;
  margin: 8px 0;

}
.rs-content p{
  font-weight: lighter;
  margin-bottom: 8px;
  line-height: 1.5rem;
}
.rs-content a{
  margin-bottom: 8px;
}
.rs-img{
  width: 35%;
  padding: 16px 16px;
}
.rs-img img{
  width: 100%;
  height: auto;
}
/*-----------------MEDIA FOR DECKTOP----------*/
@media only screen and (min-width: 780px) {
  .rs-desktop:hover{
    background-color: lightgray;
  }
  .right-side{
    padding-top: 16px;
    width: 40%;
    border-left: 2px solid lightgray;

  }
  .rs-desktop.top{
    border-top: 2px solid white;
  }
  .rs-desktop{
    width: auto;
    height: auto;
    display: flex;
    border-bottom: 2px solid lightgray;
  }
  .right-side .rs-mobile{
    display: none;
  }
}
/*-------INFO SECTION MEDIA MOBILE------------*/
@media only screen and (max-width:779px) {

  .info.section .left-side, .right-side .rs-desktop{
    display: none;
  }
  .info.section .right-side .rs-mobile{
    display: block;
  }
  .rs-mobile{
    width: 100%;
    margin: 0 auto;
  }
  .rs-mobile .rs-content{
    align-items: flex-start;
    margin-left: 16px;
    width: 100%;
  }
  .info.section .left-side{
    display: none;
  }
  .rs-desktop{
    display: none;
  }
  .right-side{
    margin: 0 auto;
  }
  .rsm-img{
    width: 100%;
    height: auto;
  }
  .rs-mobile-img-box{
    width: auto;
    margin: 0 auto;
    padding: 16px 16px;
    position: relative;
  }
  .right-side{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .info.section .right-side{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
/*-------------LEARNING SECTION DESKTOP------------*/
.learning.section{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: lightgray;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.learn-header{
  width: auto;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  opacity: .8;
  }
.all-content{
  width: auto;
  height: auto;
  margin: 0 4.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.learn-top{
  display: flex;
  margin: 0 auto;
  padding:;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.learn-bottom{
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.ls-img-box img{
  width: 100% ;
  height: auto;
  padding-bottom: 16px;
}
.ls-img-box{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: white;
  font-family: sans-serif;
}
.learn-content{
  width: auto;
  height: auto;
  padding: 0 16px;
  padding-bottom: 24px;
}
.learn-content h4{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 8px;
}
.learn-content p{
  margin: 4px auto;
  font-weight: lighter;
  line-height: 1.5rem;
}
.learn-mobile{
  display: none;
}
/*-------------------LEARN SECTION MOBILE-----------*/
@media only screen and (max-width:640px) {
  .learning.section{
    background-color: white;
  }
  .all-content{
    display: none;
  }
  .learn-header{
    font-size: 2rem;
  }
  .learn-mobile{
    display: block;
    width: auto;
    height: auto;

  }
  .learn-option{
    font-family: sans-serif;
    font-size: 1.5rem ;
    width: 70%;
    padding:16px 16px;
    margin: 8px auto;
    opacity: .7;
    background-color: lightgray;
  }
  .learn-option:hover{
    background-color: gray;
    opacity: 1;
  }
}
/*----------------THESIS DESKTOP --------------*/
.thesis{
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;
  padding-bottom: 2rem;
}
.video-and-content{
  display: flex;
  width: auto;
  height: auto;

}
.thesis-mobile{
  display: none;
}
.ls-thesis{
  width: 60%;
  height: auto;
  margin: 0 24px;
  line-height: 1.5rem;
  font-weight: lighter;
}
.ls-thesis h4{
  font-size: 1.25rem;
  font-weight: bold;
  padding: .5rem 0;
}
.video{
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}
.rs-thesis{
  width: 40%;
  height: auto;

}
.thesis h1{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin: 32px auto;
  opacity: .8;
}

/* ------RIGHT SIDE THESIS DESKTOP----*/
.rs-thesis-top{
  display: flex;
  padding:16px;
  align-items: center;
}
.rs-thesis-bottom{
  display: flex;
  padding: 16px;
  align-items: center;
}
.rs-thesis-top img{
  width: 35%;
  height: auto;
  padding-right: 16px;
}
.rs-thesis-bottom img{
  width: 35%;
  height: auto;
  padding-right: 16px;
}
.thesis-content{
  width: 100%;
  height: auto;
}
.thesis-content h4{
  font-size: 1.25rem;
  font-weight: bold;
  opacity: .8;
  line-height: 1.5rem;
}
.thesis-content p{
  line-height: 1.5rem;
  font-weight: lighter;
}
@media only screen and (min-width:850px) {
  .rs-thesis-top:hover{
    background-color: lightgray;
  }
  .rs-thesis-bottom:hover{
    background-color: lightgray;
  }
}
/*----------THESIS MOBILE-------*/





/*---------------------FOOTER-----------------*/

footer{
  display: flex;
  padding: 16px 16px;
  width: auto;
  height: 4rem;
  font-family: sans-serif;
  font-weight: lighter;
  border-top: 1px solid lightgray;
  justify-content: space-between;
}
.rs-foot span{
  padding: .5rem;
}
